# Ignore SQLite database
/backend/db.sqlite3

# Ignore Python caches and compiled files
/backend/**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Django static and media files
/backend/static/
/backend/media/

# Ignore Node modules and React build files
/frontend/node_modules/
/frontend/build/
